.popup {
  position: relative;
  cursor: pointer;
}

.trigger {
  background: none;
  outline-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.directionWrapper {
  &.topRight {
    bottom: 100%;
    left: 0;
  }

  &.topLeft {
    bottom: 100%;
    right: 0;
  }

  &.bottomRight {
    top: 100%;
    left: 0;
  }

  &.bottomLeft {
    top: 100%;
    right: 0;
  }
}

.active {
  background: var(--secondary-color);
  border-radius: 8px;
}

.selected {
  text-decoration: underline;
}

.disabled {
  opacity: 0.7;
}
