.input {
  padding: 8px;
  outline-color: var(--primary-color);
  color: var(--primary-color);

  &::placeholder {
    color: var(--primary-color);
    opacity: 0.4;
  }
}

.readonly {
  opacity: 0.7;
  caret-color: transparent;

  input {
    outline: none;
  }
}
