.Drawer {
  position: fixed;
  inset: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s, z-index 0.3s;
  display: flex;
  align-items: flex-end;
}

.opened {
  pointer-events: auto;
  opacity: 1;
  z-index: var(--modal-z-index);

  .content {
    transform: translateY(0%);
  }
}

.sheet {
  z-index: var(--modal-z-index);
  position: fixed;
  left: 2vw;
  height: calc(100vh + 100px);
  width: 96vw;
  border-radius: 12px 12px 0;
  background: var(--bg-color);
  touch-action: none;
  padding: 15px;
}
